<header>
    <div class="container">
        <nav>

            <a href="/console" title="Take me home">
                <img class="logo" src="../images/logo-loggedin.png">
            </a>

            <% if(locals.nav){ %>
                <ul class="left">
                    <% for(var i=0; i<locals.nav.length; i++) {
                         if(locals.originalUrl===locals.nav[i].link.substring(2)) { %>
                           <li><a href="<%= locals.nav[i].link %>"><span class="selected"><%= locals.nav[i].text %></span></a></li>
                      <% }
                         else { %>
                           <li><a href="<%= locals.nav[i].link %>"><%= locals.nav[i].text %></a></li>
                        <% }
                       } %>
                </ul>
            <% } %>

            <ul class="right">
                <li>Welcome <%= locals.agentfirstname %></li>
                <li><a href="../auth/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>